body{
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}
h1{
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #62bfb7;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #62bfb7;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #439a97;
}
.top-container{
    background-color: #97dece;
    position: relative;
    padding-top: 100px;
}
p{
    line-height: 2;
}
hr{
    border:dotted #cbedd5 6px;
    border-bottom: none;
    width:4%;
    margin: 100px auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.profile{
    width: 20%;
    margin: auto auto auto auto;
}
.intro{
    margin: auto auto auto auto;
}
.contact-message{
    width: 40%;
    margin:40px auto 60px;
}
.computer-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.copywriter-img{
    width: 25%;
    float:right;
    margin-left: 30px;
}
.developer-img{
    width:70%;
}
.middle-container{
   margin: 100px 0;
}
.bottom-container{
   background-color: #62b6b7;
   padding: 50px 0 20px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.footer-link{
    color: #439a97;
}
a{
    color:#067470;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;

}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #11cdd4 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }